.color_grey {
  background-color: #f6f6f6;
}

.aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 104.06px;
  padding: 120.25px 0 107px;
  margin: 0 auto;
}

.aboutme__header {
  text-align: center;
  margin-bottom: 30px;
}

.aboutme__wholetext {
  width: 485.34px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 44px;
  margin: 0 auto;
}

@media (max-width: 765px) {
  .aboutme {
    padding-top: 81px;
  }
}

@media (max-width: 575px) {
  .aboutme {
    padding-top: 81px;
    max-width: 80%;
    margin: 0 auto;
  }

  .aboutme__wholetext {
    max-width: 90%;
  }
  /* CSS для ширины до 575px (включительно) */
}
