* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

body {
  font-family: "Gilroy-Medium";
  color: black;
  font-size: 18px;
  line-height: 22px;
}

.section_header  {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42.09px;
}

a {
  text-decoration: none;
}