* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

body {
  font-family: "Gilroy-Medium";
  color: black;
  font-size: 18px;
  line-height: 22px;
}

html {
  scroll-behavior: smooth;
}

.section_header {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42.09px;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  /* CSS для ширины от 992px до 1199px */
  .container {
    max-width: 90%;
  }
}

/* md-размер (<=991px) */
@media (max-width: 976px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */

/* xs-размер (<=575px) */
@media (max-width: 479px) {
  /* CSS для ширины от 576px до 767px */
  .skills__progs {
    gap: 80px 0;
    flex-direction: column;
    align-items: center;
  }
}
