@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url("../font/Gilroy-Medium.woff2") format("woff2"),
    url("../font/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("../font/Gilroy-Bold.woff2") format("woff2"),
    url("../font/Gilroy-Bold.woff") format("woff");
}