.footer__header {
  display: flex;
  justify-content: center;
  margin-top: 114.24px;
}

.footer__text {
  width: 275.14px;
  margin: 0 auto;
  margin-top: 20.03px;
  font-size: 18px;
  line-height: 21.83px;
  text-align: center;
}

.footer__link {
  margin-top: 29.6px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__link__button {
  display: block;
  text-decoration: none;
  border: 1px solid black;
  width: 180.5px;
  height: 42px;
  border-radius: 20px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 42px;
  background-color: black;
  color: white;
}

.footer__social {
  margin: 0 auto;
  padding-top: 85.78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 342.18px;
}

.footer__capture {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 45.98px;
  padding-bottom: 123.19px;
}

.footer__capture__text {
  font-size: 14px;
  line-height: 16.98px;
  max-width: 243.01px;
  color: #828282;
}

@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  
  
  .footer__text {
    width: 50%;;
  }

  .footer__link__button {

    max-width: 50%;

  }
  
  .footer__social {
    max-width: 50%;
  }
  
  }
 
  .footer__capture__text {

    max-width: 50%;
  }


  /* CSS для ширины до 575px (включительно) */