.footer__wrapper {
  margin: 114px 0 123px;
}

.footer__header {
  text-align: center;
}

.footer__text {
  width: 275.14px;
  margin: 0 auto;
  margin-top: 20.03px;
  font-size: 18px;
  line-height: 21.83px;
  text-align: center;
}

.footer__link {
  margin-top: 29.6px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__link__button {
  display: block;
  text-decoration: none;
  border: 1px solid black;
  width: 180.5px;
  border-radius: 25px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 42px;
  background-color: #000;
  color: #fff;
}

.footer__link__button:hover {
  transition: 0.5s;
  background-color: #fff;
  color: #000;
}

.footer__social {
  margin: 0 auto;
  margin-top: 85.78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 342.18px;
}

.footer__social a:hover{
  transform: scale(110%);
  transition: 0.3s;
}

.footer__capture {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 46px;
}

.footer__capture__text {
  font-size: 14px;
  line-height: 16.98px;
  max-width: 243.01px;
  color: #828282;
}

@media (max-width: 765px) {
  
  .footer__wrapper {
    margin: 82px 0 90px;
  }

  .footer__link__button {
    width: 316px;
  }
  .footer__link {
    margin-top: 40px;
  }

  .footer__social {
    max-width: 100%;
  }

  .footer__social {
    width: 315px;
    margin-top: 48px;
    margin-bottom: 49px;
  }
}
