.footer__wrapper {
  padding: 114px 0 123px;
}

.footer__header {
  display: flex;
  justify-content: center;
}

.footer__text {
  width: 275.14px;
  margin: 0 auto;
  margin-top: 20.03px;
  font-size: 18px;
  line-height: 21.83px;
  text-align: center;
}

.footer__link {
  margin-top: 29.6px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__link__button {
  display: block;
  text-decoration: none;
  border: 1px solid black;
  width: 180.5px;
  border-radius: 20px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 42px;
  background-color: #000;
  color: #fff;
}

.footer__link__button:hover {
  transition: 3s;
  background-color: #fff;
  color: #000;
}

.footer__social {
  margin: 0 auto;
  margin-top: 85.78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 342.18px;
}

.footer__capture {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 46px;
}

.footer__capture__text {
  font-size: 14px;
  line-height: 16.98px;
  max-width: 243.01px;
  color: #828282;
}

@media (max-width: 1024px) {
  /* CSS для ширины от 992px до 1199px */
}

@media (max-width: 976px) {
  /* CSS для ширины от 768px до 991px */
}
/* sm-размер (<=768px) */
@media (max-width: 765px) {
  /* CSS для ширины до 575px (включительно) */
  /* .footer__header {
    margin-top: 82px;
  } */

 
  .footer__wrapper {
    padding: 82px 0 90px;
  }

  .footer__link__button {
    width: 316px;
  }
  .footer__link {
    margin-top: 40px;
  }

  .footer__social {
    max-width: 100%;
  }

  .footer__social {
    width: 315px;
    margin-top: 48px;
    margin-bottom: 90px;
  }
}

@media (max-width: 375px) {
}
/* CSS для ширины до 575px (включительно) */
