.navigation {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #828282;
}
.navigation__link {
    display: block;
    /* align-items: center; */
    text-decoration: none;
    color: #828282;
    font-family: "Gilroy-Bold";
}

.navigation__link:hover{
    color:black
}