.navigation {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #828282;
}
.navigation__link {
  display: block;
  color: #828282;
  font-family: "Gilroy-Bold";
}

.navigation__link:hover {
  color: black;
}

.burger__wrapper{
  display: none;
}

.burger__menu {
  position: fixed;
  opacity: 0.0;
  width: 40px;
  height: 40px;
  top: 45px;
  right: 8%;
  z-index: 2;
}

.burger__menu:hover {
  cursor: pointer;
  
}
  
.burger__centerline {
  display: block;
  position: fixed;
  top: 59.68px;
  right: 8%;
  width: 33px;
  height: 3.84px;
  background-color: #000;
  transition-duration: 0.5s;
  z-index: 1;
}


.burger__upperline {
  display: block;
  position: fixed;
  top: 52px;
  right: 8%;
  width: 33px;
  height: 3.84px;
  background-color: #000;
  transition-duration: 0.5s;
  z-index: 1;
}

.burger__bottomline {
  display: block;
  position: fixed;
  top: 67.36px;
  right: 8%;
  width: 33px;
  height: 3.84px;
  background-color: #000;
  transition-duration: 0.5s;
  z-index: 1;
}


.burger__menu:checked ~ .burger__nav {
  visibility: visible;
  right: 0;
}

.burger__menu:checked ~ .burger__centerline {
  transform: rotate(45deg);
  opacity: 1;
}

.burger__menu:checked ~ .burger__upperline {
  transform: rotate(45deg);
  top: 59.68px;
}

.burger__menu:checked ~ .burger__bottomline {
  transform: rotate(-45deg);
  top: 59.68px;
}


.burger__menu:checked ~ .burger__bottomline {
  transform: rotate(-45deg);
  top: 59.68px;
}


.burger__nav {
  display: block;
  padding-top: 66px;
  padding-left: 26px;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 792px;

  background-color: #fff;
  list-style: none;

  transition-duration: 0.5s;
}

.nav__link {
  display: block;
  margin-bottom: 68px;
  width: 70%;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #828282;
  text-decoration: none;
  transition-duration: 0.25s;
}

.nav__link:hover {
  color: #000;
}

.burger__link:hover {
  color: red;
}

@media (max-width: 765px) {
  .navigation {
    display: none;
  }

  .burger__wrapper{
    display: block;
  }
  .burger__button {
    visibility: visible;
    display: fixed;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 479px) {
  .navigation {
    display: none;
  }
}
