.home {
  margin: 40px 0 104px;
}

.home__namejob {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 30px;
}

.home__name {
  font-family: "Gilroy-Bold";
  font-size: 47.34px;
  line-height: 58.61px;
  width: 123.51px;
}

.home__job {
  padding-bottom: 8px;
}

.home__photo {
  width: 100%;
}

.home__mobile {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 765px) {
  .home__namejob {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    margin: 0 0 37px;
  }
}
