.home__namejob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40.13px;
  padding-bottom: 30.64px;
}

.home__photo {
  display: block;
  width: 100%;
  height: auto;
}

.home__name {
  font-family: "Gilroy-Bold"; 
  font-size: 47.34px;
  line-height: 58.61px;
  width: 123.51px;
}

.home__mobile {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .home__namejob {
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    padding-bottom: 37px;
  }

  /* CSS для ширины до 575px (включительно) */
}
