.home__namejob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40.13px;
    padding-bottom: 30.64px;
}

.home__photo {
    display: block;
    max-width: 100%;
}

.home__name {
    font-size: 47.34px;
    line-height: 58.61px;
}