.container__porfolio {
  background-color: #f6f6f6;
}

.potfolio {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 112.93px;
  padding-bottom: 96.07px;
}

.portfolio__header {
  display: flex;
  justify-content: center;
}

.portfolio__link {
  margin-top: 42.83px;
  text-decoration: underline;
  color: black;
  display: flex;
  justify-content: center;
}

.portfolio__photo1 {
  margin-top: 47px;
  max-width: 100%;
  display: block;
}

.portfolio__photo2 {
  margin-top: 99.08px;
  max-width: 100%;
  display: block;
}

@media (max-width: 1024px) {
  /* CSS для ширины от 992px до 1199px */
  .potfolio {
    max-width: 90%;
  }
}

@media (max-width: 976px) {
  /* CSS для ширины от 768px до 991px */
}
/* sm-размер (<=768px) */
@media (max-width: 479px) {
  /* CSS для ширины до 575px (включительно) */
  .potfolio {
    padding: 81px 30px;
  }
  .portfolio__photo1 {
    margin-top: 65px;
  }
  .portfolio__link {
    margin-top: 33px;
  }
  .portfolio__photo2 {
    margin-top: 78px;
  }
}
@media (max-width: 375px) {
  .portfolio__link {
    margin-top: 33px;
    text-align: center;
  }
}
