.color__porfolio {
  background-color: #f6f6f6;
  padding: 112.93px 0 96.07px;
}


.portfolio__header {
  text-align: center;
}

.potfolio__wrapper {
  margin: 47px 0 99px;
}

.portfolio__link {
  margin-top: 42.83px;
  text-decoration: underline;
  color: black;
  display: flex;
  justify-content: center;
}

.portfolio__link:hover {
transform: scale(110%);
transition: 0.3s;
}

.portfolio__photo1 {
  max-width: 100%;
  display: block;
}

@media (max-width: 1024px) {
  /* CSS для ширины от 992px до 1199px */
  .potfolio {
    max-width: 90%;
  }
}

@media (max-width: 976px) {
  /* CSS для ширины от 768px до 991px */
}
/* sm-размер (<=768px) */
@media (max-width: 479px) {
  /* CSS для ширины до 575px (включительно) */
  .color__porfolio {
    padding: 81px 0 80px;
  }
  
  
  
  .potfolio {
    padding: 81px 30px;
  }
  .portfolio__photo1 {
    margin-top: 65px;
  }
  .portfolio__link {
    margin-top: 33px;
  }
  .portfolio__photo2 {
    margin-top: 78px;
  }
}
@media (max-width: 375px) {
  .portfolio__link {
    margin-top: 33px;
    text-align: center;
  }
}
