.container__porfolio{
    background-color: #F6F6F6;
}

.potfolio {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 112.93px;
    padding-bottom: 96.07px;

}

.portfolio__header{
    display: flex;
    justify-content: center;

}

.portfolio__link {
    margin-top: 42.83px;
    text-decoration: underline;
    color: black;
    display: flex;
    justify-content: center;
}

.portfolio__photo1 {
    margin-top: 47px;
}

.portfolio__photo2 {
    margin-top: 99.08px;
}
