.skills {
  padding-top: 91px;
  padding-bottom: 110px;
}

.skills__progs {
  display: flex;
  justify-content: space-between;
}

.skills__header {
  display: flex;
  justify-content: center;
  margin-bottom: 69.1px;
}

.skills__text {
  display: flex;
  justify-content: center;
  margin-bottom: 83.49px;
}

@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .skills__progs {
    flex-direction: column;
    align-items: center;
    gap: 81px;
  }
}
