.skills {
  padding-top: 91px;
  padding-bottom: 110px;
}

.skills__progs {
  display: flex;
  justify-content: space-between;
}

.skills__header {
  display: flex;
  justify-content: center;
  margin-bottom: 69.1px;
}

.skills__text {
  display: flex;
  justify-content: center;
  margin-bottom: 83.49px;
}
