.skills {
  padding-top: 91px;
  padding-bottom: 110px;
}

.skills__progs {
  display: flex;
  justify-content: space-between;
}

.skills__header {
  display: flex;
  justify-content: center;
  margin-bottom: 69.1px;
}

.skills__text {
  display: flex;
  justify-content: center;
  margin-bottom: 83.49px;
}

@media (max-width: 1024px) {
  /* CSS для ширины от 992px до 1199px */
  .skills {
    padding-top: 83px;
  }
}

/* md-размер (<=991px) */
@media (max-width: 976px) {
  /* CSS для ширины от 768px до 991px */
  .skills__text {
    margin: 50px 0 70px;
  }
  .skills__progs {
    flex-wrap: wrap;
    max-width: 500px;
    gap: 100px;
    margin: 0 auto;
  }
}
/* sm-размер (<=768px) */
@media (max-width: 479px) {
  /* CSS для ширины от 576px до 767px */
  .skills__progs {
    gap: 80px 0;
    flex-direction: column;
    align-items: center;
  }
}
